

/* D3: label_detail */
/*.chart .legend {
  fill: black;
  font: 14px sans-serif;
  text-anchor: start;
  font-size: 12px;
}

.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

.chart .label {
  fill: black;
  font: 14px sans-serif;
  text-anchor: end;
}

.bar:hover {
  fill: brown;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
  font-size: 11px;
  color: black;
}*/



/* D3: label_detail 2 */

.d3_tip_detail {
    margin-left: 15px;
    line-height: 1;
    font-weight: bold;
    padding: 5px;
    background: rgba(255,152,0,0.87);
    color: #fff;
    border-radius: 2px;
}

.axis_label_detail path,
.axis_label_detail line {
  fill: none;
  stroke: lightgrey;
  shape-rendering: crispEdges;
}

.detail_bar, .total_bar {
  shape-rendering: crispEdges;
}

.detail_bar:hover {
  opacity: 0.7;
}

.x.axis_label_detail path {
  display: none;
}


.total_bar {
  fill: #DDD;
  fill-opacity: 0.6;
}




/* D3: label precision 2*/


.d3_tip_precision {
    line-height: 1;
    font-weight: bold;
    padding: 5px;
    background: rgba(255,152,0,0.87);
    color: #fff;
    border-radius: 2px;
}

.axis_label_precision path,
.axis_label_precision line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis_label_precision text {
  font: 10px sans-serif;
  font-size: 11px;
  color: black;
}

.precision_bar:hover {
  fill: brown;
}

.precision_bar {
  fill: steelblue;
  fill-opacity: .9;
}

.precision_bar:hover {
  fill: brown;
}

.x.axis_label_precision path {
  display: none;
}

.label_precision_checkbox {
  display: block;
  padding: 10px;
  float: right;
}


/* Confusion Matrix */

path {  stroke: #fff; }
path:hover {  opacity:0.9; }
rect:hover {  fill:blue; }
.axis {  font: 10px sans-serif; }
.legend tr{    border-bottom:1px solid grey; }
.legend tr:first-child{    border-top:1px solid grey; }

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {  display: none; }
.legend{
    /*margin-bottom:76px;*/
    /*display:inline-block;*/
    border-collapse: collapse;
    border-spacing: 0px;
    transform: translate(52%,8%);
}
.legend td{
    padding:4px 5px;
    vertical-align:bottom;
}
.legendFreq, .legendPerc{
    align:right;
    width:50px;
}